<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
            <i>{{ request.user.username }}</i>
            <a href="{% url 'account:account_index' %}">Мой профиль</a>
            <a href="{% url 'account:logout' %}">Выход</a>
        {% else %}
            <a href="{% url 'account:login' %}">Вход</a>
        {% endif %}
    </nav>
    {% block content %}
        
    {% endblock content %}
</body>
</html>